<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Herní Blog{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
</head>
<body>
    <header>
        <h1>Vítejte na mém herním blogu</h1>
    </header>
    <nav>
        {% block nav %}
        <ul>
            <li><a href="/">Domů</a></li>
            <li><a href="/about">O nás</a></li>
            <li><a href="/login">Přihlášení</a></li>
        </ul>
        {% endblock %}
    </nav>
    <main>
        {% block content %}
        <p>Toto je výchozí obsah.</p>
        {% endblock %}
    </main>
    <footer>
        <p>© 2025 herní blog - Marinák</p>
    </footer>
</body>
</html>
